{% extends './partials/layout.html' %}


{% block content %}
<div>

    <h1>About</h1>

    <div class="my-5">
        <h5>Art TCG ---> RTCG</h5>
        <p> 
            RTCG is social media that insentivizes artists to be actively creative.

            Character creation is a big part of the Art community that is often glanzed over
            and quickly forgotten about. This site is made to bring that aspect of art into the forefront
        </p>
    </div>

    <div class="my-5">
        <h5>Create</h5>

        <P>
            Making an Art Post will gain you 1 INK. INK is the currancy this site runs on, more about that in a second.
            Every Like your post gets will gain you +1 INK
        </P>
    </div>

    <div class="my-5">
        <h5>Trading Card Creation</h5>

        <p>
            To Turn your Art into a Trading Card, you need INK. Once you have enough INK, you can buy a blank Card which you can customize
            however you want. The card's stats start at 0, you can however buy Stat Points with INK.
        </p>
    </div>

    <div class="my5">

        <h5>Trading Card Market</h5>

        <p>
            You can make copies of your Cards with INK. And you can sell copies of your Trading cards for INK. You may also buy cards
            from other users who sell them. 
            (Actual Real Life Currancy could be implemented in the Future)
        </p>
    </div>

    <div class="my-5">

        <h5>TC-"G" The "G" Is For Game</h5>

        <p>
            The actual TCG consists of having a Character Card for battle. And Action Cards to make your card Perform Actions to
            to Deal Damage. Games can be held whenever and will reward INK to the winner. In addition, users may place INK bets.
            In which case, the winner will gain that INK, while the Loser loses that INK.
        </p>
    </div>

    <div class="my-5">
        <H5>INK</H5>

        <p>
            INK is the Currancy needed to create, improve, and duplicate Cards. You can gain INK by a number of different ways.
        </p>
        <p>
            Posting always gains you 1 INK. Reactions and Interactions in your Posts from other users gain you even more 
            (+1 INK per Like/Comment).
        </p>
        <p>
            The Trading Card Market is the where you can make the most gains on INK. You can sell the copies of your cards for INK.
            And it's up to you to place the Prices. Supply and Demand: How good looking is your card? Does it have good stats?
            Does it Win many games? How many people want to buy that same card? How many copies do you have and sell? Is it rare?

            Keep all of this in mind when you place a price on your cards.
        </p>
    </div>
</div>    
{% endblock content %}
