{% extends './partials/layout.html' %}

{% block content %}
<h1>User/Usuario: {{ user.username }}</h1>

    {% for post in posts %}
    <hr>
    <div class="card my-4" style="background-color: #3F2E56;">
        <h5 class="card-header d-flex flex-column align-items-center">
          {{ post['title'] }}
        </h5>
        <div class="card-body">
          <a href="{{ url_for('main.post', id=post['id']) }}">
      
      
            <img src="{{ url_for('main.upload', filename=post['file']) }}" style="width: 300px ">
            {{ post['file]']}}
          </a>
      
          <script type="text/javascript">
            var button = document.getElementById("clickme"),
              count = 0;
            button.onclick = function () {
              count += 1;
              button.innerHTML = "&hearts; " + count;
            };
          </script>
            <button class="w-25" id="clickme">&hearts; 0</button>
            <button class="w-25" >Comment: 0</button>
      
        </div>
      </div>
    <hr>
    {% endfor %}
{% endblock %}